<h3>Bem-vindo(a) <%= name %>!</h3>

<p>
  Nam elementum diam non lacus aliquam egestas. Morbi vel dolor dolor. Orci
  varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
  mus. Nullam varius massa eget vulputate mollis. Sed elementum elementum orci,
  sed dictum leo consectetur vel.
</p>

<p>
  Nulla sagittis rhoncus turpis, nec gravida quam interdum auctor. Phasellus nec
  pellentesque nisl, id rhoncus tellus. Curabitur a tincidunt orci, efficitur
  feugiat risus.
</p>

<p>
  Cras dapibus convallis rhoncus. Curabitur elementum dictum imperdiet. Proin
  hendrerit enim ut lectus semper, id sodales ipsum congue.
</p>
